version: "3.9"

services:

  mongo:
    image: mongo:6
    container_name: mern-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  server:
    build: ./server
    container_name: mern-server
    ports:
      - "5000:5000"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/quickchat
    depends_on:
      - mongo

  client:
    build: ./client
    container_name: mern-client
    ports:
      - "5173:80"
    depends_on:
      - server

volumes:
  mongo_data: