alertmanager:
  enabled: true
  config:
    global:
      resolve_timeout: 5m

    route:
      receiver: "slack-notifications"
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 1h

    receivers:
      - name: "slack-notifications"
        slack_configs:
          - api_url: "${SLACK_WEBHOOK}"
            channel: "#quickchat-alerts"
            send_resolved: true
            title: "[{{ .Status | toUpper }}] {{ .CommonAnnotations.summary }}"
            text: >-
              *Alert:* {{ .CommonAnnotations.description }}
              *Severity:* {{ .CommonLabels.severity }}
              *Instance:* {{ .CommonLabels.instance }}

grafana:
  enabled: true
  adminPassword: "admin123"
  service:
    type: NodePort

prometheus:
  service:
    type: NodePort

defaultRules:
  create: true